.pytest_cache
__pycache__/
./pokepare.sublime-project
./pokepare.sublime-workspace
./settings/production.py
staticfiles/
**/node_modules
public/*
webpack-stats.json
**/.DS_Store
log_import.txt
log_import_pokemons.txt
.coverage
frontend/package-lock.json
src/